<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/Content/Cap.css" type="text/css">
    <title></title>
   </head>
<body>
    <header>
        <a href="/"><img src="" alt="Logo"</a>
    </header>
    <nav>
        <ul class="Cap">
            <li><a href="/home/">Home</a></li>
            <li class="active">About</li>
            <li><a href="/services/">Services</a></li>
            <li><a href="/contact/">Contact</a>
        </ul>
    </nav>
</body>
</html>
